@model EventPlatformAPI.Web.ViewModels.EventLecturers.EventLecturerViewModel

@{
    ViewData["Title"] = "Brisanje termina predava?a";
}

<h1>Brisanje termina predava?a</h1>
<h4>Da li ste sigurni?</h4>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Greška!</strong>
        <div asp-validation-summary="All"></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<dl class="row">
    <dt class="col-sm-3">Doga?aj</dt>
    <dd class="col-sm-9">@Model.EventName</dd>
    <dt class="col-sm-3">Predava?</dt>
    <dd class="col-sm-9">@Model.LecturerFullName</dd>
    <dt class="col-sm-3">Termin</dt>
    <dd class="col-sm-9">@Model.DateTime.ToString("dd.MM.yyyy HH:mm")</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Obriši</button>
    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
</form>
